@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 900;
	src: local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'), url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xKydSBYKcSV-LCoeQqfX1RYOo3i94_wlxdr.ttf) format('truetype');
}
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 900;
	src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdr.ttf) format('truetype');
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-weight: 300;
}
body {
	font-family: poppins;
}
.form1 {
	font-family: 'poppins', sans-serif;
	color: white;
	font-weight: 300;
}
.form1 ::-webkit-input-placeholder {
	/* WebKit browsers */
	font-family: 'poppins', sans-serif;
	color: white;
	font-weight: 300;
}
.form1 :-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	font-family: 'poppins', sans-serif;
	color: white;
	opacity: 1;
	font-weight: 300;
}
.form1 ::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	font-family: 'poppins', sans-serif;
	color: white;
	opacity: 1;
	font-weight: 300;
}
.form1 :-ms-input-placeholder {
	/* Internet Explorer 10+ */
	font-family: 'poppins', sans-serif;
	color: white;
	font-weight: 300;
}
.wrapper {

	background: #50a3a2;
	background: -webkit-gradient(linear, left top, right bottom, from(#abd4d4), to(#92edc7));
	background: linear-gradient(to bottom right, #abd4d4 0%, #92edc7 100%);
	position: absolute;
	width: 100vw;
	height: 100%;
	overflow: scroll;
}
.wrapper.form-success .container h1 {
	-webkit-transform: translateY(85px);
	transform: translateY(85px);
}
.container {
	width: 70vw;
	margin: 0 auto;
	padding: 10vh 0;
	height: 70vh;
	text-align: center;
}
.container h1 {
	color: white;
	font-family: 'poppins', sans-serif;
	font-size: min(8vw, 45px);
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
	-webkit-transition-timing-function: ease-in-put;
	transition-timing-function: ease-in-put;
	font-weight: 300;
}
.form1 {
	padding: 20px 0;
	position: relative;
	z-index: 2;
}
.form1 input {
	font-family: poppins;
	color: #53e3a6;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: 0;
	border: 1px solid rgba(255, 255, 255, 0.4);
	background-color: rgba(255, 255, 255, 0.2);
	width: min(350px, 70vw);
	border-radius: 3px;
	padding: 10px 15px;
	margin: 0 auto 10px auto;
	display: block;
	text-align: center;
	font-size: min(6vw, 25px);
	color: white;
	-webkit-transition-duration: 0.25s;
	transition-duration: 0.25s;
	font-weight: 300;
}
.form1 input:hover {
	background-color: rgba(255, 255, 255, 0.4);
}
.form1 input:focus {
	background-color: white;
	width: min(300px, 65vw);
	color: #53e3a6;
}
.form1 button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: 0;
	background-color: white;
	border: 0;
	padding: 10px 15px;
	color: #53e3a6;
	border-radius: 3px;
	width: min(250px,52vw);
	cursor: pointer;
	font-size: min(6vw, 25px);
	-webkit-transition-duration: 0.25s;
	transition-duration: 0.25s;
}
.form1 button:hover {
	background-color: #f5f7f9;
}

.logo {
	height: 60px;
}

.navbar-costum {
	background-color: black;
    overflow: hidden;
    height: 80px;
}
.nav-item {
	margin-right: 40px;
	font-size: 20px;
}

.notif {
	font-family: 'Source Sans Pro', sans-serif;
	width: 100%;
	position: relative;
	z-index: 10;
	margin-top: 80px;
	font-size: min(20px, 4vw);
}

.abtimg {
	margin-top: -150px;
	background-color: #343a40;
	height: 150vh;
	position: fixed;
	overflow: hidden;
}

.mySlides {display: none;}
img {
position: center;
vertical-align: middle;
padding-left: 5%;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active {
    background-color: #717171;
  }

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @media screen and (max-width:700px) {
    body, #home {
      width:100%; 
    }
  }

.info {
	font-family: 'Lato', 'poppins';
	margin-left: 25vw;
	margin-bottom: 0;
	padding-top: 70px;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 50px;
	background: #50a3a2;
	background: -webkit-gradient(linear, left top, right bottom, from(#abd4d4), to(#92edc7));
	background: linear-gradient(to bottom right, #abd4d4 0%, #92edc7 100%);
	color: #343a40;
	overflow-y: auto;
	overflow-x: hidden;
}
.login, .register {
	margin-left: 25vw;
	padding-top: 70px;
	overflow: hidden;
}
.lab {
	font-family: poppins;
	font-size: 26px;
	font-weight: 500;
	color: white;
	margin-right: 50px;
}

.par {
	font-family: Lato;
	font-size: 18px;
	color: white;
}

.contact, .stat {
	color: white;
	margin-bottom: 20px;
	padding: 5px;
}

@media only screen and (max-width: 700px) {
	.inp {
	  width: 70vw;
	}
	.col, .col-9 {
		margin-right: 10vw;
	}
	.slideshow-container {
		display: none;
	}
  }