{% extends "WebApp/layout.html" %}
{% load static %}

{% block title %}Patient Tracker: Donors{% endblock %}

{% block body %}
<style type="text/css">
	.wrapper {
		height: 100vh;
		overflow: scroll;
		overflow-x: hidden;
	}
</style>
<div class="row">
	<div class="col-3 abtimg">
		<div class="slideshow-container">

            <div class="mySlides fade">
              <img src="{% static 'WebApp/image/1.jpeg' %}" style="width:100%; padding-top: 40%;">
            </div>
            
            <div class="mySlides fade">
              <img src="{% static 'WebApp/image/2.jpeg' %}" style="width:100%; padding-top: 40%;">
            </div>
            
            <div class="mySlides fade">
              <img src="{% static 'WebApp/image/3.jpeg' %}" style="width:100%; padding-top: 40%;">
            </div>
      
            <div class="mySlides fade">
              <img src="{% static 'WebApp/image/4.jpeg' %}" style="width:100%; padding-top: 40%;">
            </div>
      
            <div class="mySlides fade">
              <img src="{% static 'WebApp/image/5.jpeg' %}" style="width:100%; padding-top: 40%;">
            </div>
            
            </div>
            <br>
            
            <div style="text-align:center">
              <span class="dot"></span> 
              <span class="dot"></span> 
              <span class="dot"></span> 
              <span class="dot"></span> 
              <span class="dot"></span> 
            </div>
      
            <script>
            var slideIndex = 0;
            showSlides();
            
            function showSlides() {
              var i;
              var slides = document.getElementsByClassName("mySlides");
              var dots = document.getElementsByClassName("dot");
              for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";  
              }
              slideIndex++;
              if (slideIndex > slides.length) {slideIndex = 1}    
              for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
              }
              slides[slideIndex-1].style.display = "block";  
              dots[slideIndex-1].className += " active";
              setTimeout(showSlides, 2000); // Change image every 2 seconds
            }
            </script>
	</div>
	<div class="col-9 dash">
		<center>
			{% if donors == None %}
				<h2 style="font-weight: 900;">No Donors Found...</h2>
            {% else %}
            <br>
            <h2 style="font-weight: 900;">Contact Patients for Plasma Donation:</h2>
            <br><br>
			<table class="table table-striped table-light table-bordered" style="text-align: center;">
				<thead class="thead-dark">
					<tr>
						<th scope="col" id="rank" class=head>ID</th>
						<th scope="col" class=head>Patient Name</th>
                        <th scope="col" class=head>Phone Number</th>
                        <th scope="col" class=head>Email ID</th>
					</tr>
				</thead>
				<tbody>
					{% for donor in donors %}
						<tr>
							<th scope="row">{{ donor.patient_id }}</th>
                            <td>{{ donor.name }}</td>
                            <td>{{ donor.phone }}</td>
							<td>{{ donor.email }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			{% endif %}
		</center>
	</div>
</div>
{% endblock %}