{% extends "WebApp/layout.html" %}
{% load static %}

{% block title %}Patient Tracker: Patient Details{% endblock %}
{% block notif %}
<div class="notif">
    {% if user.is_authenticated %}
        <div class="alert alert-success" role="alert">
            <center>Logged in as <strong>{{ user.username }}</strong>.</center>
        </div>
    {% else %}
        <div class="alert alert-warning" role="alert">
            <center>No one is Logged In.</center>
        </div>
    {% endif %}
    {% if message %}
    <div class="alert alert-success" role="alert">
      <center><strong>{{ message }}</strong>.</center>
    </div>
    {% endif %}
</div>
{% endblock %}


{% block body %}
<style type="text/css">
    .wrapper {
        overflow: scroll;
        overflow-x: hidden;
    }

    .col, .col-9 {
        border-style: solid;
        border-color: white;
    }
    .col > label {
        padding-top: 10px;
        font-weight: 1000;
    }
    .col-9 > label {
        padding-top: 10px;
        font-weight: 1000;
    }
</style>

<div class="row" style="z-index: 10000;">
    <div class="col-3 abtimg">
        <div class="slideshow-container">

            <div class="mySlides fade">
              <img src="{% static 'WebApp/image/1.jpeg' %}" style="width:100%; padding-top: 40%;">
            </div>
            
            <div class="mySlides fade">
              <img src="{% static 'WebApp/image/2.jpeg' %}" style="width:100%; padding-top: 40%;">
            </div>
            
            <div class="mySlides fade">
              <img src="{% static 'WebApp/image/3.jpeg' %}" style="width:100%; padding-top: 40%;">
            </div>
      
            <div class="mySlides fade">
              <img src="{% static 'WebApp/image/4.jpeg' %}" style="width:100%; padding-top: 40%;">
            </div>
      
            <div class="mySlides fade">
              <img src="{% static 'WebApp/image/5.jpeg' %}" style="width:100%; padding-top: 40%;">
            </div>
            
            </div>
            <br>
            
            <div style="text-align:center">
              <span class="dot"></span> 
              <span class="dot"></span> 
              <span class="dot"></span> 
              <span class="dot"></span> 
              <span class="dot"></span> 
            </div>
      
            <script>
            var slideIndex = 0;
            showSlides();
            
            function showSlides() {
              var i;
              var slides = document.getElementsByClassName("mySlides");
              var dots = document.getElementsByClassName("dot");
              for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";  
              }
              slideIndex++;
              if (slideIndex > slides.length) {slideIndex = 1}    
              for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
              }
              slides[slideIndex-1].style.display = "block";  
              dots[slideIndex-1].className += " active";
              setTimeout(showSlides, 3000); // Change image every 2 seconds
            }
            </script>
    </div>
    <div class="col-9 login" style="font-size: min(23px,4vw); margin-bottom: 100px; border: none;">
        <center><h1 class=tit>Patient Details</h1></center>
        <br><br>
        <center>
            <div class=row>
                <div class=col-3>
                    <div class=row>
                        <div class="col">
                            <label>Name:</label>
                            <p>{{ pat.name }}</p>
                        </div>
                    </div>
                    <div class=row>
                        <div class="col">
                            <label>Age:</label>
                            <p>{{ pat.age }}</p>
                        </div>
                    </div>
                    <div class=row>
                        <div class="col">
                            <label>Gender:</label>
                            <p>{{ pat.gender }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-9">
                    <label>Address:</label>
                    <p>{{ pat.address }}</p>
                </div>
            </div>
            <div class=row>
                <div class="col">
                    <label>Phone Number:</label>
                    <p>{{ pat.phone }}</p>
                </div>
                <div class="col">
                    <label>Email ID:</label>
                    <p>{{ pat.email }}</p>
                </div>
            </div>
            <br><br>
            <div class=row>
                <div class="col">
                    <label>Symptoms:</label>
                    <p>{{ pat.symptoms }}</p>
                </div>
                <div class="col">
                    <label>Health Details:</label>
                    <p>{{ pat.health_det }}</p>
                </div>
            </div>
            <br><br>
            <div class=row>
                <div class="col">
                    <label>Bed Alloted:</label>
                    <p>{{ pat.bed }}</p>
                </div>
                <div class="col">
                    <label>Ventilator Alloted:</label>
                    <p>{{ pat.venti }}</p>
                </div>
                <div class="col">
                    <label>Status:</label>
                    <p>{{ pat.status }}</p>
                </div>
            </div>
            <br><br>
            <div class=row>
                <div class=col-3>
                    <div class=row>
                        <div class="col">
                            <label>Current Condition:</label>
                            <p>{{ pat.condi }}</p>
                        </div>
                    </div>
                    <div class=row>
                        <div class="col">
                            <label>Emergency Contact:</label>
                            <p>{{ pat.emg_phone }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-9">
                    <label>Doctors Notes:</label>
                    <p>{{ pat.notes }}</p>
                </div>
            </div>
            <br><br>  
            <button type="submit" class="update"><a href="{% url 'update' id=pat.patient_id %}">Updates Details</a></button>
        </center>
    </div>
  </div>
{% endblock %}