{% extends "WebApp/layout.html" %}
{% load static %}

{% block title %}Patient Tracker{% endblock %}
{% block notif %}
<div class="notif">
    {% if message %}
    <div class="alert alert-success" role="alert">
      <center>{{ message }}</strong></center>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block body %}
<style type="text/css">
	.wrapper {
		height: 100vh;
		overflow: scroll;
		overflow-x: hidden;
	}
</style>
<div class="row">
  <div class="col-3 abtimg">
  	<div class="slideshow-container">

      <div class="mySlides fade">
        <img src="{% static 'WebApp/image/1.jpeg' %}" style="width:100%; padding-top: 40%;">
      </div>
      
      <div class="mySlides fade">
        <img src="{% static 'WebApp/image/2.jpeg' %}" style="width:100%; padding-top: 40%;">
      </div>
      
      <div class="mySlides fade">
        <img src="{% static 'WebApp/image/3.jpeg' %}" style="width:100%; padding-top: 40%;">
      </div>

      <div class="mySlides fade">
        <img src="{% static 'WebApp/image/4.jpeg' %}" style="width:100%; padding-top: 40%;">
      </div>

      <div class="mySlides fade">
        <img src="{% static 'WebApp/image/5.jpeg' %}" style="width:100%; padding-top: 40%;">
      </div>
      
      </div>
      <br>
      
      <div style="text-align:center">
        <span class="dot"></span> 
        <span class="dot"></span> 
        <span class="dot"></span> 
        <span class="dot"></span> 
        <span class="dot"></span> 
      </div>

      <script>
      var slideIndex = 0;
      showSlides();
      
      function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";  
        }
        slideIndex++;
        if (slideIndex > slides.length) {slideIndex = 1}    
        for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";  
        dots[slideIndex-1].className += " active";
        setTimeout(showSlides, 2000); // Change image every 2 seconds
      }
      </script>
  </div>
  <div class="col-9 info" style="font-size: min(23px,4vw);">
    <center>
        <span style="font-size: min(35px, 4.5vw); font-weight: 900; text-decoration: underline;">Overview</span><br>
        <p style="text-align: left;">State-of-the-art Ambulances at our hospital are equipped to handle most complex emergencies and are available to our patients round the clock.<br><br>
        These ambulances carry standard equipment’s as, a ventilator, a Defibrillator, Oxygen, suction, scoop stretcher, spine board, head immobilizer, spencer trolley stretcher and all the other lifesaving drugs.<br><br>
        These ambulances are manned by ALS / BLS trained Doctors, Nurses along with trained Drivers and Attendants, all are well trained in managing emergencies in their respective fields.</p>
        <br><hr><br>
        <span style="font-size: min(35px, 4.5vw); font-weight: 900; text-decoration: underline;">Area Of Coverage:</span><br>
        <ul style="text-align: left; margin-left: 3vw;">
            <li>Western side: upto Virar</li>
            <li>Harbour side: upto Panvel</li>
            <li>Central side: upto Kalyan</li>
        </ul><br><hr><br>
        <span style="font-size: min(35px, 4.5vw); font-weight: 900; text-decoration: underline;">Request An Ambulance:</span><br><br>
        <p>
            A request for ambulance can be made on payment basis on the following numbers:<br><br>
            Ambulance staff : 09769250010  /  07506358779<br><br>
            Hospital shall not be responsible for following:<br>
            Technical problem/ failure of equipment/ breakdown of ambulance.<br>
            Any traffic jam, wrong address given & deadline to reach the destination.<br><br>
            **Conditions apply
        </p><br><hr><br>
        <span style="font-size: min(35px, 4.5vw); font-weight: 900; text-decoration: underline;">Book An Appointment for Testing:</span><br><br>
        <p>
            EXCLUSIVE COLLECTION CENTRES FOR COVID-19<br>
            HOME VISIT COVID-19<br>
            ANTIBODY TESTING<br>
            NON-COVID TESTING<br>
            HOME VISIT NON-COVID TESTING<br><br>
            <a href="https://www.suburbandiagnostics.com/book-an-appointment/" style="color: #50a3a2; background-color: white; border-radius: 4px; padding: 5px;">Click Here</a>
        </p>
     </center>
  </div>
</div>

{% endblock %}
